@import "./reset.css";

.accordion__container {
    max-width: 37.5rem;
    padding: 0 0.94rem;
    margin: 0 auto;
}
.accordion__title {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 700;
}

.accordion__item {
    /* border: 1px solid #000; */
}
.accordion__item:hover .accordion__content {
    height: 15.63rem;
}
.accordion__head {
    display: block;
    padding: 0.3em 0;
    height: 1.7em;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
}
.accordion__input {
    width: 0;
    height: 0;
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
}
.accordion__input:checked ~ .accordion__content {
    height: 15.63rem;
}
.accordion__content {
    height: 0;
    font-size: 1rem;
    transition: height .3s;
    /* background-color: tomato; */
}
.item__underline {
    display: block;
    width: 100%;
    height: 0.16rem;
    background: #000;
}